.displayProducts {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px gray;
}

.displayProducts img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.displayProducts .innerfix {
    display: flex;

}

.displayProducts .innerfix h5{
    padding-right: 120px;
    margin-left: 10px ;
}
