.placed{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
}


@media (min-width:361px){
    .placed{
        width: 410px;
    }
    .placed img{
        width: 300px;
        margin-left: 50px;
    }
}


@media (min-width:641px){
    .placed{
        width: 100%;
    }
    .placed img{
        width: 550px;
        margin-left: 50px;
    }
    .placed button{
        width: 150px;
    }
}